ul {
    padding: 0%;
    margin: 0%;
}
.container{
    @apply w-full;
    padding: 0 10px;
}
.row{
    display: flex;
    width: 100%;
}

/* 1. header */
.header-top {
    padding-top: 7px;
    padding-bottom: 10px;
}

.header-contact-phone {
    position: relative;
    padding-right: 30px;
}

.header-contact-phone::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 1px;
    top: 8px;
    margin-right: 20px;
    right: 0;
    background-color: #fff;
}

.header-contact p {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    color: #fff;
    line-height: 1;
}

.header-contact span {
    color: #fdc800;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    margin-right: 9px;
}

.header-social-icon-list {
    @apply text-right;

    ul li {
        @apply inline-block;
        line-height: 1;

        a {
            font-size: 12px;
            color: #fdc800;
            // margin-left: 19px;
            padding-left: 19px;
            position: relative;
            transition: all ease-out 0.3s;
            text-decoration: none;
        }
    }
}



.header-social-icon-list ul li:hover a {
    color: #fff;
}

.header-social-icon-list ul li:first-child a::before {
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    background-color: #fff;
    left: 0;
    top: 2px;
}

.header-social-icon-list ul li a::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 1px;
    background-color: #fff;
    left: 0;
    top: 2px;
}




// Main Menu
.main-menu ul li a {
    @apply font-bold;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 36px 0;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #444444;
}
.main-menu ul li span {
    @apply font-bold;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #444444;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

.main-menu ul li:hover>a {
    color: #fdc800;
}
.main-menu ul li:hover>span {
    color: #fdc800;
}

.main-menu ul li ul.submenu {
    background: #002147;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 110%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width:fit-content;
    z-index: 9;
}

.main-menu ul li:hover>ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 102%;
}

.main-menu ul li ul.submenu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    margin: 0;
}

.main-menu ul li ul.submenu li:last-child {
    border: 0;
}

.main-menu ul li ul.submenu li a {
    color: #ddd;
    display: block;
    padding: 10px 20px;
    text-align: left;
    font-size: 13px;
}

.main-menu ul li ul.submenu li:hover>a {
    color: #fdc800;
}

.main-menu ul li ul.submenu li ul.submenu {
    left: 100%;
    top: 0;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn{
    color: #fff;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 15px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 5px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


.banner {
    background-image: url("../logo/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

    &>p{
        font: 600 12vmax "Roboto";
        text-transform: uppercase;
    }
}
.wedding{
    font: 600 12vmax "Roboto";
        text-transform: uppercase;
        color:white;
}

